APP_ENV=production

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=email-validator
DB_USERNAME=root
DB_PASSWORD=secret

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=secret
