RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=pass
RABBITMQ_VHOST=/

RABBITMQ_EXCHANGE=statements
RABBITMQ_QUEUE_NEW=statement_new
RABBITMQ_QUEUE_PROCESSING=statement_processing

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DATABASE=hw20
POSTGRES_USER=hw20
POSTGRES_PASSWORD=hw20

MAIL_HOST=smtp.example.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=Statement Service
