.idea
###> symfony/framework-bundle ###
/.env
/.env.*
!/.env.example
!/.env.*.example
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.env.deploy
/deploy/.deploy-config/

.idea/
.DS_Store
.AppleDouble
.LSOverride
