# Secrets & Environment
.env
.env.local

# Docker Data (Strictly prohibited in Git)
docker/postgres_data/
pgdata/

# Dependencies
vendor/
composer.phar

# Host-Guest / IDE
.idea/
.vscode/
*.swp
.DS_Store
*.log

# VirtualBox Shared Folders artifacts
.vbox_shared_folder_map
