[mysqld]

# кэш данных и индексов
innodb_buffer_pool_size=512M

# Размер redo‑логов InnoDB. - Ускоряет массовые INSERT/UPDATE
innodb_log_file_size=256M

# Писать данные напрямую на диск, без дискового кеша
innodb_flush_method=O_DIRECT

# Метод записи данных на диск. В данном случае каждый COMMIT
innodb_flush_log_at_trx_commit=1

# Ограничения на размер временных таблиц в памяти
tmp_table_size=64M
max_heap_table_size=64M

# Соединения
max_connections=200

# Логи
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=5

# основная кодировка сервера
character-set-server=utf8mb4

# - ci = case insensitive - сравнение без учета регистра
collation-server=utf8mb4_unicode_ci

[client]
# говорим клиентам что за кодировка у нас стоит
default-character-set=utf8mb4