global
  stats socket /sock/admin.sock user haproxy group haproxy mode 660 level admin
  log stdout format raw local0 info

defaults
  mode               http
  log                global
  timeout connect    5s
  timeout http-request 15s
  timeout queue      30s
  timeout client     300s
  timeout server     300s

frontend  fe_main
  bind :80
  default_backend    blue_green

backend blue_green
  mode http

  option httpchk GET /up.php
  http-check expect status 200

  balance          roundrobin
  # green nginx
  server green	172.20.0.10:80 check inter 1s fall 2 rise 1
  # blue nginx
  server blue	172.20.0.11:80 check inter 1s fall 2 rise 1

