APP_NAME="OtusDocker"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8080
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAIL_ADDRESS=example@mail.ru

#DOCKER
DOCKER_USER=WORKER
APP_PATH=/var/www/app
APP_WEB_PORT=8080
APP_PATH_HOST=./

AMQP_HOST=rabbitmq
AMQP_USER=admin
AMQP_PASS=secret

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=secret

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=email-validator
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

REDIS_CLIENT=phpredis
REDIS_HOST="${APP_NAME}-redis"
REDIS_PASSWORD=112233
REDIS_PORT=6379
APP_REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.yandex.com
MAIL_PORT=587
MAIL_USERNAME=test1ng2023@yandex.ru
MAIL_PASSWORD=gjhhdwkeecydkoyy
MAIL_FROM_ADDRESS="test1ng2023@yandex.ru"
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
VITE_PORT=5173

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"